<div class="container" style="width: 40rem;">
    <div class="card m-5" style="box-shadow: 10px 10px 10px 10px darkgray;">
        <img class="mb-3" src="assets/img/619cef5c40cb8963c133f5fc_6076f40a7bc433d96f4663f4_template-vignette-TO-DO-LIST-1200x900.png" alt="image" />
        <hr>
        <div class="m-3 gap-5 d-md-flex justify-content-md-center col3">
            <button class="btn btn-info" routerLink="/auth" routerLinkActive="active"> Login </button>
            <button class="btn btn-info" routerLink="/auth/register" routerLinkActive="active"> Register</button>
        </div>
    </div>
</div>